/* Login (CSS) */

* {
    margin: 0;
    padding: 0;
}

button {
    all: unset;
}

select {
    all: unset;
}

input {
    all: unset;
}

a {
    all: unset;
}

body {
    background-image: url(imgs/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: "Lilita One", sans-serif;
}


.container {
    width: 90%;
    height: 100vh;
    margin: auto;
    position: relative;
}

img {
    width: 160px;
    position: relative;
    top: 59px;
    filter: drop-shadow(0px 0px 4px #00000084);
}

.container .glass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff3f;
    width: 50%;
    height: 230px;
    border-radius: 43px;
}

.container .logtxt {
    width: fit-content;
    font-size: 27px;
    position: relative;
    left: 56px;
    top: 26px;
    text-shadow: 2px 0px 2px #494949;
    color: #fff;

}

input {
    width: 80%;
    height: 30px;
    position: relative;
    top: 19%;
    left: 27px;
    margin-bottom: 28px;
    background-color: #fff;
    border-radius: 61px;
    padding-left: 10px;
    color: #000000;
    transition: 0.5s;
}

select {
    width: 80%;
    height: 30px;
    position: relative;
    top: 10%;
    left: 27px;
    margin-bottom: 28px;
    background-color: #fff;
    border-radius: 61px;
    padding-left: 10px;
    padding-top: 10px;
    color: #757575;
    transition: 0.5s;
}

button {
    text-align: center;
    width: 25%;
    height: 30px;
    position: relative;
    top: 34px;
    left: 13%;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 61px;
    color: #757575;
    transition: 0.5s;
}

.all-buttons {
    display: flex;
    flex-direction: row;
}

#back-btn {
    left: 27px;
}

#user-submit {
    right: 5%;
}

#admin-submit {
    right: 10%;
}

select:focus {
    background-color: #000;
    transform: scale(1.08);
    color: #fff;
}

input:focus {
    background-color: #000;
    transform: scale(1.08);
    color: #fff;
    padding: 0 15px;
}


button:hover {
    background-color: #0f0f0f;
    letter-spacing: 1px;
    color: #fff;
    /* transform: scale(1.08); */
    cursor: pointer;
}

@media ((min-width:650px) and (max-width : 960px)) {
    .container .glass {
        width: 70%;
    }

    #admin-submit {
        font-size: 14px;
    }

    #user-submit {
        font-size: 14px;
    }

    img {
        width: 140px;
    }
}

@media ((min-width : 390px) and (max-width : 649px)) {
    .container .glass {
        width: 90%;
    }

    button {
        font-size: 14px;

    }

    img {

        width: 140px;
    }
}

@media (max-width : 389px) {
    .container .glass {
        width: 95%;
        /* padding: 15px; */
    }

    .container .logtxt {
        font-size: 22px;
    }

    input,
    select {
        height: 35px;
        font-size: 14px;
    }

    input:focus,
    select:focus {
        background-color: #000000 !important;
        color: #fff !important;
        transform: none !important;
    }

    button {
        font-size: 12px;

    }

    img {
        width: 120px;
    }
}