body {
    font-family: "Lilita One", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background: url('https://t3.ftcdn.net/jpg/03/11/19/38/360_F_311193887_0aXFwwXXHu4PsBAVNW1USeypg1clOH8E.jpg') no-repeat center content-box fixed;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 1rem 0;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 999;
}

h1 {
    margin-left: 30PX;
    margin-top: 0px;
    margin-bottom: 0px;
}

header h1:hOver{
    color: #e25454;
    text-decoration: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: relative;
}

.recipe {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    padding: 1rem;
    width: 80%;
    transition: transform 0.3s;
}

.recipe:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.recipe img {
    max-width: 150px;
    margin-right: 1rem;
}

.description {
    flex: 1;
}

.description p {
    color: #494949;
    margin-bottom: 20px;
}

.description h2 {
    margin-top: 0;
}

.description button {
    border: solid 1px transparent;
    border-radius: 5px;
    width: 10%;
    height: 30px;
    background-color: #333;
    color: #fff;
    transition: transform 0.5s;
}

.description button:hover {
    color: red;
    transform: rotate(4deg);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin-top: 20px;
    font-size: 0.9em;
}


form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #f76f6f;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 300px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #f76f6f;
    color: white;
}

@media (max-width: 750px) {
    .recipe {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .recipe img {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .description {
        width: 100%;
    }
}